html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*define focus style*/
:focus{
    outline:0;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /*border:1px solid grey; */
}

/*General Styles*/
html{
    font-size: 62.5%;
    font-family: 'cursive'  Courier, monospace;
    
}

    
.section{
    padding: 4% 0;
}

a{
    color:#0a0808;
    text-decoration:none;
}
a:hover{
    color: rgb(88, 87, 86);
    text-decoration: underline;
    /*background-color: rgb(108, 170, 108)yellow;*/
}
header{
    display:flex;
    width:100%;
    font-size:2rem;
    justify-content:right;
    margin-top: 2%;


}
body{
    background-color:rgb(230, 242, 245);
    color:rgb(7, 6, 6);
}
header p{
    padding-left: 3%;
    width:100%;
}
nav {
    
    display:flex;
    position:fixed;
    justify-content:flex-end;
    justify-content:space-between;
    width:40%;
    top:0;
    z-index: 999;
    /*background-color:rgb(51, 49, 49);*/

   }
   nav a{
       width:25%;
       display:flex;
       justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin:2%;
   }

.first{
    display:flex;
    width:80%;
    margin:0 10%;
    align-items: center;

}
.titlePic{
    background-image: url(https://i.picsum.photos/id/865/200/300.jpg?hmac=jCzg6busodS2mP_yK-Vt64bNfl6Sk3TUT0cSFMukwkU);
    height:40vh;
    display:flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:4%;
   /* border-radius: 50%;*/
    

}
 .title{
     justify-content:center;
     color:rgb(20, 15, 13);
     font-size: 3.5rem;
     justify-content: center;
  

 }
 .title h2{
     font-size:2.5rem;
     text-align:center;
     font-style: ;

 }
 .title button{background-color: rgb(226, 241, 250);
    border-radius: 5px;
    width: 50%;
    font-size: 19px;
    border-color: rgb(15, 13, 13);
    color:rgb(10, 8, 8);

 }
   .second {
       display:flex;
       flex-wrap:wrap;
       justify-content:space-around;
       width:100%;
       
       
    
   }
   .second div{
       display:flex;
       flex-direction:column;
       justify-content: center;
       margin:5%;
       width:20%;
       
       
   }
   /*.second div img{
       width:100%;
       border-radius:15%;
       border: 5px salmon;
       
   }*/
.second div h2{
    text-align:center;
    font-size: 20px;
    text-decoration: bold;
    margin-top:3%;
    
}
   footer div{
       height:8vh;
       justify-content:center;
       background-color:rgb(199, 224, 240) ;
       align-items: center;
   }
  
   .third{
       display:flex;
       justify-content: center;
   }
   .third button{
       background-color: rgb(226, 241, 250);
       border-radius: 5px;
       width:7%;
       font-size: 18px;
       border-color: rgb(15, 13, 13);

       color:rgb(10, 8, 8);
       }



     
     
       /*Responsive Styles*/






       /*Tablet view - 800px*/
       @media(max-width:800px){
           .third button {
               width:13%;
           }
           .second div {
               margin:7%;
           }

       }







       /*Mobile view - 500px*/
       @media(max-width:500px){

       }